*.pyc
output
resources/output.psas
sas_plan*
bin/
builds/
build/
.idea/
cmake-build-debug/
CMakeUserPresets.json
*.patch
.vs/
.vscode/
docs/latex/
docs/html/

# Translator output
*.psas
*.mutexes

# Graphviz
*.dot

# MacOS
.DS_Store

# Output policy
sas_policy

# Aliases
misc/aliases.json
misc/definitions.json

# Translator output
output.psas