*.pyc
output
output.psas
sas_plan*
bin/
builds/
build/
.idea/
cmake-build-debug/
CMakeUserPresets.json
*.patch
.vs/
.vscode/
docs/latex/
docs/html/

# Graphviz
*.dot
.DS_Store

# Output policy
*.policy