@font-face {
    font-family: CodeFont;
    src: url('cascadia_mono.ttf');
}

div.header {
    border-bottom: 2px solid var(--separator-color);
}

h2.groupheader {
    border-bottom: 1px solid var(--separator-color);
    box-shadow: none;
}
html {
    --tree-item-height: 25px;
    --side-nav-fixed-width: 400px;
    --top-height: 150px;
    --font-family-monospace: CodeFont,
        ui-monospace,
        SFMono-Regular,
        SF Mono,
        Menlo,
        Consolas,
        Liberation Mono,
        monospace;
}
